/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 82px;
    background-image: url('../images/bg-image.svg');
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 44px;
    padding: 20px 72px;
    max-width: unset;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title {
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    line-height: 125%;
    max-width: 577px;
    text-align: center;
    margin-bottom: 16px;
}

.title-context {
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
    max-width: 641px;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
}

.contact-form {
    max-width: 810px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    padding: 32px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 24px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.block-label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.contact-form-input {
    margin-top: 4px;
    height: 86px;
    min-width: 364px;
    border-radius: 16px;
    border: unset;
    outline: unset;
    font-size: 16px;
    padding: 24px;
}

.contact-form-select {
    margin-top: 4px;
    height: 86px;
    min-width: 364px;
    border-radius: 16px;
    border: unset;
    outline: unset;
    font-size: 16px;
    padding: 24px;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../images/Expand_down.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    border: 1px solid #dfdfdf;
}

.full-width {
    width: 100%;
    min-width: unset;
}

.contact-form-textarea {
    margin-top: 4px;
    min-height: 206px;
    min-width: 364px;
    border-radius: 16px;
    border: unset;
    outline: unset;
    font-size: 16px;
    padding: 24px;
    resize: none;
}

.contact-form-button {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    width: 100%;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 700;
    color: #4036A9;
    border: unset;

}

@media screen and (max-width: 1023px) {

    header {
        max-width: 592px;
        padding: 24px 0;
    }

    .contact-form {
        max-width: 592px;
        padding-bottom: 107px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .contact-form-input, .contact-form-select {
        min-width: 528px;
    }

    .title {
        font-size: 48px;
    }

    .title-context {
        font-size: 20px;
        max-width: 466px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    header {
        max-width: 960px;
        padding: 24px 0;
    }

    .title {
        font-size: 48px;
    }

    .title-context {
        font-size: 20px;
        max-width: 466px;
    }

    .contact-form {
        max-width: 960px;
    }

    .row {
        flex-direction: row;
    }

    .contact-form-input, .contact-form-select {
        min-width: 440px;
    }

}
